
body{
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
}
#ourproject{
  justify-content: center;
}
.home-main{
  background-image: url('/src/img/h1.png');
  background-size: cover;
  height: 653px;
  width: 100%;
  margin-top: -100px;
}
.project-main{
  background-color: #f2f2f2;
  background-size: cover;
}

.contact-main{
  background-color: #f2f2f2;
  /* background-size: cover; */
  height: 600px;
  width: 100%;
}
.contact-btn{
  /* position: absolute; */
  background: #4EBB6C;
  box-shadow: 2px 4px 9px rgba(97, 97, 97, 0.25);
  border-radius: 8px;
  border: none;
  height: 35px;
  color: white;
  display: block;
  margin: auto;
 
}
.footer-main{
  background-color:  rgba(31, 31, 31, 1);
  /* height: 350px; */
  background-size: cover;
  width: 100%;
}
#testimg{
  background-image: url('./img/t1.png');
  background-size: cover;
  height: 600px;
  width: 100%;
}
.logo{
  height: 50px;
  margin-left: 100px;
}
.navbar-nav{
  margin: auto;
}
.navbar-expand-lg {
  height: 100px;
  color: white;
  background-color:   rgba(255, 255, 255, 0.24);
  z-index: 3;
}
.text{
  padding-top: 150px;
  color: white;
  
}
.nav-link:hover{
  color: #4EBB6C !important;
}
.btnhome{
  background-color: #4EBB6C;
  padding: 5px;
  width: 150px;
  border: none;
  color: white;
  border-radius: 7px;
}
.btnhome:hover{
  background-color: white;
  color: black;
}
.ourservice{
  margin-top: 100px;
  text-align: center;
}
.card1{
  box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}
/* .card1:hover{
  background-color: #21823C;
  color: white;
} */
.cardimg:hover{
  color: white;
}
.service-main{
  background-color: #f2f2f2;
  height: 650px;
  background-size: cover;
  width: 100%;
}
.about{
  margin-top: 50px;
}
#homepage{
  background-image: url('/src/img/h1.png');
  background-size: cover;
  height: 653px;
  width: 100%;
  margin-top: -100px;
}
.btnabout{
  color: white;
  background-color: transparent;
  border: 2px solid white;
  margin-left: 285px;
  width: 110px;
  padding: 5px;
  width: 140px;
  /* position: absolute; */
}
.cardimg:hover{
  color:white
}
.sevice-main{
  background-color: #f2f2f2;
  
}
.btnabout:hover{
  background-color: #21823C !important;
  border: none;
  /* width: 300px; */
}
.textboder{
  border: 8px solid #4EBB6C;
  width: 487px;
  height: 490px;
  margin-left: 230px;
  margin-top: -370px;
  z-index: 4;
  /* position: absolute; */
}
.test-main{
  background-image: url('./img/t1.png');
  background-size: cover;
  height: 600px;
  width: 100%;
}
.icon{
  color: #4EBB6C;
  font-size: 30px;
  text-align: center;
  
}


input[type=text], select, textarea {
  width: 600px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  
}

input[type=submit] {
  background-color: #4EBB6C;
  color: white;
  padding: 9px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 230px;
  width: 160px;
  margin-top: 20px;
}

input[type=submit]:hover {
  background-color: black;
  color: white;
}

.container {
  border-radius: 5px;

  padding: 20px;
}
#abouttext{
  border: 8px solid #4EBB6C;
  width: 70%;
  height: 490px;
  margin-left: auto;
  /* margin-left: 280px; */
  /* justify-content: right; */
  margin-top: -400px;
  z-index: 4;
}

.nisan{
  display: block;
  margin: auto;
  margin-top: -75px !important;
}


.Icons_card{
  color: #4EBB6C;
}
@media only screen and (max-width:512px){
  #aboutimg1{
    width:100%;
  }
  #aboutimg2{
    width:100%;
  }
}
@media only screen and (max-width:992px){
  #aboutimg1{
    width:100%;
  }
  #aboutimg2{
    width:100%;
  }
  #ourproject{
    /* margin-left: 130px; */
  }
  #review1{
    margin-left: 130px;
  }
  .text-home{
    padding-top: 380px !important;
  }
  #foot-icon{
    margin-left: 250px;
  }
  #foot-icon2{
    margin-left: 280px;
  }
  #navbarNavDropdown{
    background-color: rgba(255, 255, 255, 0.24);
    width: 100%;
  }
}
@media only screen and (max-width:850px){
  #ourproject{
    /* margin-left: 130px; */
   
  }
}
@media only screen and (max-width:615px){
  #ourproject{
    /* margin-left: 50px; */
  }
}
@media only screen and (max-width:576px){
  #ourproject{
    margin-left: 10px;
  }
}
@media only screen and (max-width:767px){
  #review1{
    margin-left: 90px;
  }
  #ourproject{
    /* margin-left: 70px; */
   }
   #foot-icon{
    margin-left: 140px;
  }
  #foot-icon2{
    margin-left: 190px;
  }
}
@media only screen and (max-width:548px){
  #foot-icon{
    margin-left: 40px;
  }
  #foot-icon2{
    margin-left: 100px;
  }
}
@media only screen and (max-width:557px){
  #review1{
    margin-left: 50px;
  }
}
@media only screen and (max-width:337px){
  #review1{
    margin-left: 20px;
  }
  #foot-icon{
    margin-left: 5px;
  }
  #foot-icon2{
    margin-left: 40px;
  }
}
@media only screen and (max-width:850px){
  #fname{
   width: 100%;
   
  }
}
@media only screen and (max-width:605px){
  #ourproject{
    margin-left: 0px;
   
  }
}
